In [3]:
#this creates the new database, and only needs to be done the first time

import mysql.connector

from mysql.connector import (connection)

mydb = connection.MySQLConnection(user='root', password='password',
                                 host='127.0.0.1')

print(mydb)

mycursor = mydb.cursor(buffered='True')

#mycursor.execute("CREATE DATABASE VELA_GEN6")

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)
    
mycursor.close()
mydb.close()

<mysql.connector.connection.MySQLConnection object at 0x1065ff160>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('VELA_GEN3',)
('VELA_GEN6',)

In [5]:
import glob
import mysql.connector

from mysql.connector import (connection)

ones_wrong = []

#now we create the table in the database we want to add

mydb = connection.MySQLConnection(user='root', password='password',
                                 host='127.0.0.1', database='VELA_GEN6')

#print(mydb)

cursor = mydb.cursor()

#(VELA_number, scale_factor, scale, rockstar_id, desc_scale, desc_id, num_prog, pid, upid, desc_pid, phantom, sam_Mvir, Mvir, Rvir, rs, vrms, mmp?, scale_of_last_MM, vmax, x, y, z, vx, vy, vz, Jx, Jy, Jz, Spin, Breadth_first_ID, Depth_first_ID, Tree_root_ID, Orig_halo_ID, Snap_idx, Next_coprogenitor_depthfirst_ID, Last_progenitor_depthfirst_ID, Last_mainleaf_depthfirst_ID, Tidal_Force, Tidal_ID, Rs_Klypin, Mvir_all, M200b, M200c, M500c, M2500c, Xoff, Voff, Spin_Bullock, b_to_a, c_to_a, A_x, A_y, A_z, b_to_a_500c, c_to_a_500c, A_x_500c, A_y_500c, A_z_500c, T_over_U, M_pe_Behroozi, M_pe_Diemer, Halfmass_Radius, Macc, Mpeak, Vacc, Vpeak, Halfmass_Scale, Acc_Rate_Inst, Acc_Rate_100Myr, Acc_Rate_1_Tdyn, Acc_Rate_2_Tdyn, Acc_Rate_Mpeak, Acc_Log_Vmax_Inst, Acc_Log_Vmax_1_Tdyn, Mpeak_Scale, Acc_Scale, First_Acc_Scale, First_Acc_Mvir, First_Acc_Vmax, Vmax_at_Mpeak, Tidal_Force_Tdyn, Log_Vmax_Vmax_max_Tdyn;Tmpeak, Time_to_future_merger, Future_merger_MMP_ID)

#(VELA_number CHAR(2), scale_factor float(53), scale float(53), rockstar_id INT(255), desc_scale float(53), desc_id INT(255), num_prog INT(255), pid INT(255), upid INT(255), desc_pid INT(255), phantom INT(255), sam_Mvir float(53), Mvir float(53), Rvir float(53), rs float(53), vrms float(53), mmp? int(255), scale_of_last_MM float(53), vmax float(53), x float(53), y float(53), z float(53), vx float(53), vy float(53), vz float(53), Jx float(53), Jy float(53), Jz float(53), Spin float(53), Breadth_first_ID INT(255), Depth_first_ID INT(255), Tree_root_ID INT(255), Orig_halo_ID INT(255), Snap_idx INT(255), Next_coprogenitor_depthfirst_ID INT(255), Last_progenitor_depthfirst_ID INT(255), Last_mainleaf_depthfirst_ID INT(255), Tidal_Force float(53), Tidal_ID INT(255), Rs_Klypin float(53), Mvir_all BIGINT(255), M200b BIGINT(255), M200c BIGINT(255), M500c BIGINT(255), M2500c BIGINT(255), Xoff float(53), Voff float(53), Spin_Bullock float(53), b_to_a float(53), c_to_a float(53), A_x float(53), A_y float(53), A_z float(53), b_to_a_500c float(53), c_to_a_500c float(53), A_x_500c float(53), A_y_500c float(53), A_z_500c float(53), T_over_U float(53), M_pe_Behroozi BIGINT(255), M_pe_Diemer BIGINT(255), Halfmass_Radius float(53), Macc BIGINT(255), Mpeak BIGINT(255), Vacc float(53), Vpeak float(53), Halfmass_Scale float(53), Acc_Rate_Inst float(53), Acc_Rate_100Myr float(53), Acc_Rate_1_Tdyn float(53), Acc_Rate_2_Tdyn float(53), Acc_Rate_Mpeak float(53), Acc_Log_Vmax_Inst float(53), Acc_Log_Vmax_1_Tdyn float(53), Mpeak_Scale float(53), Acc_Scale float(53), First_Acc_Scale float(53), First_Acc_Mvir float(53), First_Acc_Vmax float(53), Vmax_at_Mpeak float(53), Tidal_Force_Tdyn float(53), Log_Vmax_Vmax_max_Tdyn;Tmpeak float(53), Time_to_future_merger float(53), Future_merger_MMP_ID INT(255))

#cursor.execute("CREATE TABLE rockstar (VELA_number CHAR(2), scale_factor float(53), scale float(53), rockstar_id INT(255), desc_scale float(53), desc_id INT(255), num_prog INT(255), pid INT(255), upid INT(255), desc_pid INT(255), phantom INT(255), sam_Mvir float(53), Mvir float(53), Rvir float(53), rs float(53), vrms float(53), mmp int(255), scale_of_last_MM float(53), vmax float(53), x float(53), y float(53), z float(53), vx float(53), vy float(53), vz float(53), Jx float(53), Jy float(53), Jz float(53), Spin float(53), Breadth_first_ID INT(255), Depth_first_ID INT(255), Tree_root_ID INT(255), Orig_halo_ID INT(255), Snap_idx INT(255), Next_coprogenitor_depthfirst_ID INT(255), Last_progenitor_depthfirst_ID INT(255), Last_mainleaf_depthfirst_ID INT(255), Tidal_Force float(53), Tidal_ID INT(255), Rs_Klypin float(53), Mvir_all float(53), M200b float(53), M200c float(53), M500c float(53), M2500c float(53), Xoff float(53), Voff float(53), Spin_Bullock float(53), b_to_a float(53), c_to_a float(53), A_x float(53), A_y float(53), A_z float(53), b_to_a_500c float(53), c_to_a_500c float(53), A_x_500c float(53), A_y_500c float(53), A_z_500c float(53), T_over_U float(53), M_pe_Behroozi float(53), M_pe_Diemer float(53), Halfmass_Radius float(53), Macc BIGINT(255), Mpeak BIGINT(255), Vacc float(53), Vpeak float(53), Halfmass_Scale float(53), Acc_Rate_Inst float(53), Acc_Rate_100Myr float(53), Acc_Rate_1_Tdyn float(53), Acc_Rate_2_Tdyn float(53), Acc_Rate_Mpeak float(53), Acc_Log_Vmax_Inst float(53), Acc_Log_Vmax_1_Tdyn float(53), Mpeak_Scale float(53), Acc_Scale float(53), First_Acc_Scale float(53), First_Acc_Mvir float(53), First_Acc_Vmax float(53), Vmax_at_Mpeak float(53), Tidal_Force_Tdyn float(53), Log_Vmax_Vmax_max_Tdyn_Tmpeak float(53), Time_to_future_merger float(53), Future_merger_MMP_ID INT(255))")


#now that the table is created, we read the data we want from each VELA sim file and load it into the table we just created

#VELA08 failed and VELA10 for same reason #also 15
VELA_numbers = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', 
               '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', 
               '35']

for VELA_number in VELA_numbers:
    print(VELA_number)
    rockstarfiles = glob.glob('/Users/user1/documents/GEN6/rockstar001analysis/VELA{}/hlists/hlist_*.list'.format(VELA_number))
    #print(rockstarfiles)
    

    for rockstarfile in rockstarfiles:
        values_to_add = []
        readfile = open(rockstarfile)
        lines = readfile.readlines()

        count = 0
        current_scale = float(rockstarfile[-10:-7])/1000
        for line in lines:
            #we want to skip the first line as it is just the headers
            if count <= 64:
                count = count + 1
                continue
            current_line = line.split()
            current_line_sql = [VELA_number, str(current_scale)] + [str(x) for x in current_line]
            values_to_add.append(tuple(current_line_sql))
        

        readfile.close()
        sql_add_command = 'INSERT INTO rockstar (VELA_number, scale_factor, scale, rockstar_id, desc_scale, desc_id, num_prog, pid, upid, desc_pid, phantom, sam_Mvir, Mvir, Rvir, rs, vrms, mmp, scale_of_last_MM, vmax, x, y, z, vx, vy, vz, Jx, Jy, Jz, Spin, Breadth_first_ID, Depth_first_ID, Tree_root_ID, Orig_halo_ID, Snap_idx, Next_coprogenitor_depthfirst_ID, Last_progenitor_depthfirst_ID, Last_mainleaf_depthfirst_ID, Tidal_Force, Tidal_ID, Rs_Klypin, Mvir_all, M200b, M200c, M500c, M2500c, Xoff, Voff, Spin_Bullock, b_to_a, c_to_a, A_x, A_y, A_z, b_to_a_500c, c_to_a_500c, A_x_500c, A_y_500c, A_z_500c, T_over_U, M_pe_Behroozi, M_pe_Diemer, Halfmass_Radius, Macc, Mpeak, Vacc, Vpeak, Halfmass_Scale, Acc_Rate_Inst, Acc_Rate_100Myr, Acc_Rate_1_Tdyn, Acc_Rate_2_Tdyn, Acc_Rate_Mpeak, Acc_Log_Vmax_Inst, Acc_Log_Vmax_1_Tdyn, Mpeak_Scale, Acc_Scale, First_Acc_Scale, First_Acc_Mvir, First_Acc_Vmax, Vmax_at_Mpeak, Tidal_Force_Tdyn, Log_Vmax_Vmax_max_Tdyn_Tmpeak, Time_to_future_merger, Future_merger_MMP_ID) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
        cursor.executemany(sql_add_command, values_to_add)

        mydb.commit()

        print(cursor.rowcount, "was inserted.")
        
        #now check the values
        
        current_snap_rockstar = values_to_add[0][2]
        
        cursor.execute("SELECT * FROM rockstar HAVING VELA_number = {} AND scale = {}".format(VELA_number, current_snap_rockstar))

        myresult = cursor.fetchall()

        for x, y in zip(myresult, values_to_add):

            for x_sub, y_sub in zip(x,y):
                #this is for the rockstar_id, which are stored as a float with number.0 instead of number as they
                #are in the sql database, so to compare I have to make the ones from the ascii files ints
                if x_sub != int(float(y_sub)) and x_sub != float(y_sub) and x_sub != y_sub:
                    print(x_sub, y_sub)
                    print(type(x_sub), type(y_sub))
                    ones_wrong.append((VELA_number, current_scale, x_sub, y_sub))
    #print(values_to_add)   
    #now that we have the data we want to add, we add it to the Table
    #print(values_to_add[0])
    #sql_add_command = 'INSERT INTO rockstar (VELA_number, scale_factor, scale, rockstar_id, desc_scale, desc_id, num_prog, pid, upid, desc_pid, phantom, sam_Mvir, Mvir, Rvir, rs, vrms, mmp, scale_of_last_MM, vmax, x, y, z, vx, vy, vz, Jx, Jy, Jz, Spin, Breadth_first_ID, Depth_first_ID, Tree_root_ID, Orig_halo_ID, Snap_idx, Next_coprogenitor_depthfirst_ID, Last_progenitor_depthfirst_ID, Last_mainleaf_depthfirst_ID, Tidal_Force, Tidal_ID, Rs_Klypin, Mvir_all, M200b, M200c, M500c, M2500c, Xoff, Voff, Spin_Bullock, b_to_a, c_to_a, A_x, A_y, A_z, b_to_a_500c, c_to_a_500c, A_x_500c, A_y_500c, A_z_500c, T_over_U, M_pe_Behroozi, M_pe_Diemer, Halfmass_Radius, Macc, Mpeak, Vacc, Vpeak, Halfmass_Scale, Acc_Rate_Inst, Acc_Rate_100Myr, Acc_Rate_1_Tdyn, Acc_Rate_2_Tdyn, Acc_Rate_Mpeak, Acc_Log_Vmax_Inst, Acc_Log_Vmax_1_Tdyn, Mpeak_Scale, Acc_Scale, First_Acc_Scale, First_Acc_Mvir, First_Acc_Vmax, Vmax_at_Mpeak, Tidal_Force_Tdyn, Log_Vmax_Vmax_max_Tdyn_Tmpeak, Time_to_future_merger, Future_merger_MMP_ID) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
    #cursor.executemany(sql_add_command, values_to_add)

    #mydb.commit()

    #print(cursor.rowcount, "was inserted.")
    
    #now we check that all the data matches and that no errors were made that need to be corrected
    
    
    #NEED TO CHANGE THIS TO ONLY GET ONES FROM VELA_Number
    
            
    print(VELA_number)
cursor.close()
mydb.close()

01
83 was inserted.
509 was inserted.
1585 was inserted.
3047 was inserted.
4413 was inserted.
5628 was inserted.
6550 was inserted.
7059 was inserted.
7306 was inserted.
7314 was inserted.
7227 was inserted.
7060 was inserted.
6874 was inserted.
6586 was inserted.
6324 was inserted.
6014 was inserted.
5632 was inserted.
5336 was inserted.
5062 was inserted.
4802 was inserted.
4545 was inserted.
4317 was inserted.
4110 was inserted.
3978 was inserted.
3839 was inserted.
3709 was inserted.
3538 was inserted.
3420 was inserted.
3284 was inserted.
3152 was inserted.
3048 was inserted.
2915 was inserted.
2792 was inserted.
2676 was inserted.
2581 was inserted.
2425 was inserted.
2334 was inserted.
2271 was inserted.
2212 was inserted.
2134 was inserted.
2105 was inserted.
2080 was inserted.
2053 was inserted.
2026 was inserted.
1982 was inserted.
1958 was inserted.
1873 was inserted.
01
02
280 was inserted.
981 was inserted.
2160 was inserted.
3306 was inserted.
4379 was inserted.
5005 was inserted.
5503 was inserted.
5752 was inserted.
5849 was inserted.
5772 was inserted.
5613 was inserted.
5503 was inserted.
5270 was inserted.
5019 was inserted.
4750 was inserted.
4473 was inserted.
4168 was inserted.
3954 was inserted.
3745 was inserted.
3618 was inserted.
3467 was inserted.
3276 was inserted.
3063 was inserted.
2891 was inserted.
2769 was inserted.
2638 was inserted.
2529 was inserted.
2401 was inserted.
2334 was inserted.
2265 was inserted.
2190 was inserted.
2124 was inserted.
2005 was inserted.
1859 was inserted.
1706 was inserted.
1595 was inserted.
1529 was inserted.
1504 was inserted.
1459 was inserted.
1445 was inserted.
1422 was inserted.
1432 was inserted.
1352 was inserted.
02
03
289 was inserted.
1077 was inserted.
2189 was inserted.
3255 was inserted.
4104 was inserted.
4610 was inserted.
4953 was inserted.
5084 was inserted.
5067 was inserted.
5040 was inserted.
4817 was inserted.
4640 was inserted.
4441 was inserted.
4249 was inserted.
3955 was inserted.
3599 was inserted.
3396 was inserted.
3169 was inserted.
2933 was inserted.
2808 was inserted.
2664 was inserted.
2558 was inserted.
2418 was inserted.
2284 was inserted.
2181 was inserted.
2105 was inserted.
2024 was inserted.
1931 was inserted.
1817 was inserted.
1727 was inserted.
1675 was inserted.
1608 was inserted.
1547 was inserted.
1509 was inserted.
1476 was inserted.
1457 was inserted.
1461 was inserted.
1445 was inserted.
1419 was inserted.
1366 was inserted.
1334 was inserted.
1302 was inserted.
1285 was inserted.
1274 was inserted.
1206 was inserted.
03
04
55 was inserted.
348 was inserted.
956 was inserted.
1563 was inserted.
2121 was inserted.
2509 was inserted.
2740 was inserted.
2938 was inserted.
3003 was inserted.
2993 was inserted.
2919 was inserted.
2905 was inserted.
2782 was inserted.
2689 was inserted.
2566 was inserted.
2417 was inserted.
2294 was inserted.
2211 was inserted.
2141 was inserted.
2080 was inserted.
1987 was inserted.
1918 was inserted.
1839 was inserted.
1755 was inserted.
1673 was inserted.
1561 was inserted.
1510 was inserted.
1446 was inserted.
1381 was inserted.
1331 was inserted.
1289 was inserted.
1253 was inserted.
1211 was inserted.
1180 was inserted.
1149 was inserted.
1125 was inserted.
1099 was inserted.
1074 was inserted.
1048 was inserted.
1033 was inserted.
1018 was inserted.
1013 was inserted.
1018 was inserted.
1006 was inserted.
1018 was inserted.
977 was inserted.
04
05
202 was inserted.
672 was inserted.
1367 was inserted.
2004 was inserted.
2530 was inserted.
2893 was inserted.
3121 was inserted.
3218 was inserted.
3205 was inserted.
3147 was inserted.
3034 was inserted.
2929 was inserted.
2782 was inserted.
2646 was inserted.
2499 was inserted.
2360 was inserted.
2213 was inserted.
2132 was inserted.
2011 was inserted.
1866 was inserted.
1796 was inserted.
1698 was inserted.
1622 was inserted.
1557 was inserted.
1508 was inserted.
1423 was inserted.
1339 was inserted.
1279 was inserted.
1203 was inserted.
1163 was inserted.
1134 was inserted.
1098 was inserted.
1061 was inserted.
1026 was inserted.
996 was inserted.
964 was inserted.
947 was inserted.
935 was inserted.
926 was inserted.
909 was inserted.
907 was inserted.
921 was inserted.
925 was inserted.
925 was inserted.
882 was inserted.
05
06
21251 was inserted.
26301 was inserted.
28458 was inserted.
29801 was inserted.
30316 was inserted.
30015 was inserted.
29362 was inserted.
28378 was inserted.
27323 was inserted.
26267 was inserted.
25362 was inserted.
24258 was inserted.
23375 was inserted.
22506 was inserted.
21308 was inserted.
19940 was inserted.
18957 was inserted.
17874 was inserted.
17002 was inserted.
16176 was inserted.
15436 was inserted.
14842 was inserted.
14133 was inserted.
13301 was inserted.
12712 was inserted.
12232 was inserted.
11784 was inserted.
11472 was inserted.
11085 was inserted.
10598 was inserted.
10299 was inserted.
10008 was inserted.
9854 was inserted.
9692 was inserted.
9494 was inserted.
9286 was inserted.
9012 was inserted.
8744 was inserted.
8466 was inserted.
8257 was inserted.
7923 was inserted.
7706 was inserted.
7623 was inserted.
7596 was inserted.
7516 was inserted.
7460 was inserted.
7105 was inserted.
06
07
225 was inserted.
317 was inserted.
1924 was inserted.
6101 was inserted.
11911 was inserted.
17714 was inserted.
22167 was inserted.
25212 was inserted.
27090 was inserted.
28076 was inserted.
28385 was inserted.
28277 was inserted.
27773 was inserted.
26958 was inserted.
25829 was inserted.
24769 was inserted.
22921 was inserted.
21774 was inserted.
20547 was inserted.
19167 was inserted.
17763 was inserted.
16529 was inserted.
15552 was inserted.
14856 was inserted.
14146 was inserted.
13523 was inserted.
12952 was inserted.
12423 was inserted.
12062 was inserted.
11525 was inserted.
11010 was inserted.
10522 was inserted.
10108 was inserted.
9657 was inserted.
9216 was inserted.
8844 was inserted.
8515 was inserted.
8253 was inserted.
8036 was inserted.
7769 was inserted.
7520 was inserted.
7345 was inserted.
7215 was inserted.
7086 was inserted.
6999 was inserted.
6938 was inserted.
6850 was inserted.
6857 was inserted.
6925 was inserted.
6967 was inserted.
7021 was inserted.
7201 was inserted.
7038 was inserted.
07
08
15256 was inserted.
19348 was inserted.
21488 was inserted.
22803 was inserted.
23396 was inserted.
23358 was inserted.
23042 was inserted.
22475 was inserted.
21640 was inserted.
20761 was inserted.
19904 was inserted.
19100 was inserted.
18118 was inserted.
17158 was inserted.
16256 was inserted.
15448 was inserted.
14704 was inserted.
14019 was inserted.
13385 was inserted.
12717 was inserted.
12173 was inserted.
11678 was inserted.
11054 was inserted.
10584 was inserted.
10129 was inserted.
9718 was inserted.
9371 was inserted.
9211 was inserted.
8953 was inserted.
8586 was inserted.
8258 was inserted.
7990 was inserted.
7752 was inserted.
7537 was inserted.
7401 was inserted.
7288 was inserted.
7211 was inserted.
7072 was inserted.
6951 was inserted.
6791 was inserted.
6650 was inserted.
6524 was inserted.
6421 was inserted.
6373 was inserted.
6259 was inserted.
6135 was inserted.
5876 was inserted.
08
09
15198 was inserted.
18604 was inserted.
20053 was inserted.
21197 was inserted.
21401 was inserted.
21257 was inserted.
20808 was inserted.
20202 was inserted.
19552 was inserted.
18903 was inserted.
18104 was inserted.
17404 was inserted.
16707 was inserted.
15753 was inserted.
14933 was inserted.
14124 was inserted.
13353 was inserted.
12754 was inserted.
12156 was inserted.
11468 was inserted.
11014 was inserted.
10423 was inserted.
9915 was inserted.
9477 was inserted.
9023 was inserted.
8630 was inserted.
8335 was inserted.
8074 was inserted.
7790 was inserted.
7516 was inserted.
7166 was inserted.
6751 was inserted.
6562 was inserted.
6372 was inserted.
6138 was inserted.
5936 was inserted.
5821 was inserted.
5707 was inserted.
5575 was inserted.
5446 was inserted.
5364 was inserted.
5309 was inserted.
5249 was inserted.
5260 was inserted.
5164 was inserted.
5077 was inserted.
4775 was inserted.
09
10
12410 was inserted.
15772 was inserted.
17443 was inserted.
18301 was inserted.

18785 was inserted.
18944 was inserted.
18835 was inserted.
18507 was inserted.
17790 was inserted.
16979 was inserted.
16310 was inserted.
15568 was inserted.
14882 was inserted.
14178 was inserted.
13485 was inserted.
12871 was inserted.
12285 was inserted.
11759 was inserted.
11219 was inserted.
10804 was inserted.
10370 was inserted.
10000 was inserted.
9691 was inserted.
9339 was inserted.
8979 was inserted.
8696 was inserted.
8484 was inserted.
8309 was inserted.
8145 was inserted.
7917 was inserted.
7628 was inserted.
7392 was inserted.
7117 was inserted.
6843 was inserted.
6651 was inserted.
6525 was inserted.
6330 was inserted.
6201 was inserted.
6089 was inserted.
6026 was inserted.
5956 was inserted.
5924 was inserted.
5933 was inserted.
5923 was inserted.
5866 was inserted.
5787 was inserted.
5500 was inserted.
10
11
8287 was inserted.
10271 was inserted.
11175 was inserted.
11781 was inserted.
12034 was inserted.
12037 was inserted.
11886 was inserted.
11699 was inserted.
11421 was inserted.
11046 was inserted.
10612 was inserted.
10162 was inserted.
9730 was inserted.
9322 was inserted.
8950 was inserted.
8546 was inserted.
8178 was inserted.
7858 was inserted.
7515 was inserted.
7249 was inserted.
6959 was inserted.
6719 was inserted.
6471 was inserted.
6224 was inserted.
6000 was inserted.
5731 was inserted.
5552 was inserted.
5423 was inserted.
5325 was inserted.
5192 was inserted.
5069 was inserted.
4934 was inserted.
4842 was inserted.
4762 was inserted.
4672 was inserted.
4603 was inserted.
4541 was inserted.
4465 was inserted.
4409 was inserted.
4377 was inserted.
4338 was inserted.
4314 was inserted.
4321 was inserted.
4308 was inserted.
4259 was inserted.
4232 was inserted.
4072 was inserted.
11
12
8811 was inserted.
10969 was inserted.
12263 was inserted.
12909 was inserted.
12980 was inserted.
12795 was inserted.
12436 was inserted.
12144 was inserted.
11593 was inserted.
11110 was inserted.
10511 was inserted.
10013 was inserted.
9615 was inserted.
9237 was inserted.
8801 was inserted.
8393 was inserted.
8064 was inserted.
7717 was inserted.
7460 was inserted.
7222 was inserted.
6995 was inserted.
6810 was inserted.
6566 was inserted.
6323 was inserted.
6132 was inserted.
5932 was inserted.
5735 was inserted.
5583 was inserted.
5395 was inserted.
5268 was inserted.
5091 was inserted.
4994 was inserted.
4857 was inserted.
4730 was inserted.
4571 was inserted.
4448 was inserted.
4351 was inserted.
4244 was inserted.
4196 was inserted.
4140 was inserted.
4096 was inserted.
4067 was inserted.
4024 was inserted.
4051 was inserted.
4062 was inserted.
4094 was inserted.
4003 was inserted.
12
13
8207 was inserted.
10387 was inserted.
11510 was inserted.
12175 was inserted.
12474 was inserted.
12417 was inserted.
12312 was inserted.
11940 was inserted.
11558 was inserted.
11147 was inserted.
10657 was inserted.
10219 was inserted.
9916 was inserted.
9504 was inserted.
8913 was inserted.
8444 was inserted.
8121 was inserted.
7770 was inserted.
7416 was inserted.
7045 was inserted.
6825 was inserted.
6537 was inserted.
6313 was inserted.
6042 was inserted.
5728 was inserted.
5509 was inserted.
5309 was inserted.
5124 was inserted.
4949 was inserted.
4802 was inserted.
4684 was inserted.
4607 was inserted.
4465 was inserted.
4304 was inserted.
4065 was inserted.
3787 was inserted.
3648 was inserted.
3547 was inserted.
3463 was inserted.
3331 was inserted.
3231 was inserted.
3158 was inserted.
3127 was inserted.
3112 was inserted.
3091 was inserted.
3093 was inserted.
2980 was inserted.
13
14
7816 was inserted.
9623 was inserted.
10289 was inserted.
10610 was inserted.
10670 was inserted.
10472 was inserted.
10337 was inserted.
10040 was inserted.
9636 was inserted.
9345 was inserted.
8962 was inserted.
8585 was inserted.
8255 was inserted.
7872 was inserted.
7516 was inserted.
7000 was inserted.
6653 was inserted.
6289 was inserted.
5956 was inserted.
5681 was inserted.
5446 was inserted.
5271 was inserted.
5062 was inserted.
4759 was inserted.
4575 was inserted.
4371 was inserted.
4217 was inserted.
3994 was inserted.
3864 was inserted.
3756 was inserted.
3667 was inserted.
3554 was inserted.
3453 was inserted.
3386 was inserted.
3327 was inserted.
3263 was inserted.
3231 was inserted.
3190 was inserted.
3162 was inserted.
3118 was inserted.
3110 was inserted.
3109 was inserted.
3129 was inserted.
3174 was inserted.
3172 was inserted.
3208 was inserted.
3144 was inserted.
14
15
4200 was inserted.
5393 was inserted.
6032 was inserted.
6464 was inserted.
6732 was inserted.
6684 was inserted.
6596 was inserted.
6417 was inserted.
6293 was inserted.
6107 was inserted.
5854 was inserted.
5561 was inserted.
5336 was inserted.
5085 was inserted.
4885 was inserted.
4678 was inserted.
4456 was inserted.
4252 was inserted.
4113 was inserted.
3996 was inserted.
3848 was inserted.
3709 was inserted.
3598 was inserted.
3511 was inserted.
3385 was inserted.
3278 was inserted.
3182 was inserted.
3057 was inserted.
2939 was inserted.
2856 was inserted.
2813 was inserted.
2783 was inserted.
2712 was inserted.
2667 was inserted.
2634 was inserted.
2567 was inserted.
2533 was inserted.
2494 was inserted.
2424 was inserted.
2380 was inserted.
2368 was inserted.
2334 was inserted.
2321 was inserted.
2317 was inserted.
2317 was inserted.
2318 was inserted.
2248 was inserted.
15
16
190 was inserted.
2287 was inserted.
7141 was inserted.
13662 was inserted.
19572 was inserted.
23908 was inserted.
26215 was inserted.
27829 was inserted.
28006 was inserted.
27762 was inserted.
27134 was inserted.
26083 was inserted.
25166 was inserted.
24090 was inserted.
22977 was inserted.
22002 was inserted.
20879 was inserted.
19828 was inserted.
18722 was inserted.
17894 was inserted.
17281 was inserted.
16650 was inserted.
16040 was inserted.
15648 was inserted.
15505 was inserted.
15390 was inserted.
15287 was inserted.
14330 was inserted.
16
17
48 was inserted.
1457 was inserted.
6227 was inserted.
12631 was inserted.
18734 was inserted.
22779 was inserted.
25714 was inserted.
27138 was inserted.
27596 was inserted.
26310 was inserted.
25696 was inserted.
24775 was inserted.
23560 was inserted.
22171 was inserted.
21431 was inserted.
19410 was inserted.
18487 was inserted.
17341 was inserted.
16073 was inserted.
15202 was inserted.
14393 was inserted.
13681 was inserted.
13088 was inserted.
12435 was inserted.
11783 was inserted.
11279 was inserted.
10642 was inserted.
10178 was inserted.
9806 was inserted.
9547 was inserted.
8755 was inserted.
17
18
159 was inserted.
1820 was inserted.
5883 was inserted.
10983 was inserted.
15924 was inserted.
19332 was inserted.
21571 was inserted.
22812 was inserted.
22976 was inserted.
22930 was inserted.
22353 was inserted.
21712 was inserted.
21135 was inserted.
20444 was inserted.
19496 was inserted.
18659 was inserted.
17783 was inserted.
17040 was inserted.
16277 was inserted.
15440 was inserted.
14618 was inserted.
14077 was inserted.
13488 was inserted.
13151 was inserted.
12803 was inserted.
12415 was inserted.
12209 was inserted.
11957 was inserted.
11973 was inserted.
11409 was inserted.
18
19
152 was inserted.
2021 was inserted.
7197 was inserted.
13678 was inserted.
18999 was inserted.
23017 was inserted.
25265 was inserted.
26100 was inserted.
25769 was inserted.
25145 was inserted.
23961 was inserted.
22574 was inserted.
21051 was inserted.
20067 was inserted.
18866 was inserted.
17488 was inserted.
16215 was inserted.
15402 was inserted.
14595 was inserted.
13569 was inserted.
12959 was inserted.
12329 was inserted.
11680 was inserted.
10784 was inserted.
10352 was inserted.
9992 was inserted.
9388 was inserted.
8889 was inserted.
8658 was inserted.
7899 was inserted.
19
20
977 was inserted.
3756 was inserted.
7529 was inserted.
11611 was inserted.
14430 was inserted.
16283 was inserted.
17400 was inserted.
17518 was inserted.
17611 was inserted.
17187 was inserted.
16213 was inserted.
15761 was inserted.
14486 was inserted.
13468 was inserted.
12537 was inserted.
11725 was inserted.
10932 was inserted.
10158 was inserted.
9425 was inserted.
8828 was inserted.
8348 was inserted.
7849 was inserted.
7348 was inserted.

6893 was inserted.
6518 was inserted.
6123 was inserted.
5844 was inserted.
5500 was inserted.
5198 was inserted.
5005 was inserted.
4769 was inserted.
4557 was inserted.
4392 was inserted.
4225 was inserted.
4083 was inserted.
3930 was inserted.
3784 was inserted.
3645 was inserted.
3530 was inserted.
3432 was inserted.
3321 was inserted.
3247 was inserted.
3237 was inserted.
3205 was inserted.
3198 was inserted.
3033 was inserted.
20
21
59 was inserted.
1019 was inserted.
3580 was inserted.
6864 was inserted.
9853 was inserted.
11908 was inserted.
13358 was inserted.
13985 was inserted.
14340 was inserted.
14082 was inserted.
13737 was inserted.
13007 was inserted.
12546 was inserted.
11923 was inserted.
11327 was inserted.
10519 was inserted.
9958 was inserted.
9441 was inserted.
8811 was inserted.
8266 was inserted.
7865 was inserted.
7392 was inserted.
6889 was inserted.
6507 was inserted.
6068 was inserted.
5688 was inserted.
5320 was inserted.
5070 was inserted.
4853 was inserted.
4625 was inserted.
4432 was inserted.
4246 was inserted.
4054 was inserted.
3901 was inserted.
3757 was inserted.
3598 was inserted.
3483 was inserted.
3352 was inserted.
3164 was inserted.
3044 was inserted.
3007 was inserted.
2984 was inserted.
2939 was inserted.
2909 was inserted.
2884 was inserted.
2921 was inserted.
2828 was inserted.
21
22
826 was inserted.
3032 was inserted.
5689 was inserted.
7869 was inserted.
9114 was inserted.
9940 was inserted.
10034 was inserted.
9861 was inserted.
9490 was inserted.
8931 was inserted.
8460 was inserted.
7868 was inserted.
7346 was inserted.
6857 was inserted.
6277 was inserted.
5746 was inserted.
5210 was inserted.
4843 was inserted.
4492 was inserted.
4250 was inserted.
4013 was inserted.
3711 was inserted.
3473 was inserted.
3276 was inserted.
3098 was inserted.
2905 was inserted.
2821 was inserted.
2696 was inserted.
2536 was inserted.
2404 was inserted.
2252 was inserted.
2093 was inserted.
1930 was inserted.
1753 was inserted.
1631 was inserted.
1540 was inserted.
1436 was inserted.
1363 was inserted.
1295 was inserted.
1239 was inserted.
1172 was inserted.
1133 was inserted.
1110 was inserted.
1107 was inserted.
1104 was inserted.
1050 was inserted.
22
23
450 was inserted.
1748 was inserted.
3653 was inserted.
5633 was inserted.
7228 was inserted.
8269 was inserted.
8800 was inserted.
9108 was inserted.
9187 was inserted.
8879 was inserted.
8643 was inserted.
8318 was inserted.
7895 was inserted.
7576 was inserted.
7128 was inserted.
6767 was inserted.
6384 was inserted.
5975 was inserted.
5611 was inserted.
5305 was inserted.
4987 was inserted.
4717 was inserted.
4467 was inserted.
4317 was inserted.
4141 was inserted.
4003 was inserted.
3895 was inserted.
3695 was inserted.
3550 was inserted.
3401 was inserted.
3270 was inserted.
3167 was inserted.
3083 was inserted.
3008 was inserted.
2941 was inserted.
2917 was inserted.
2871 was inserted.
2779 was inserted.
2716 was inserted.
2632 was inserted.
2572 was inserted.
2560 was inserted.
2565 was inserted.
2536 was inserted.
2552 was inserted.
2482 was inserted.
23
24
323 was inserted.
1376 was inserted.
3257 was inserted.
5171 was inserted.
6863 was inserted.
7940 was inserted.
8702 was inserted.
9129 was inserted.
9235 was inserted.
9035 was inserted.
8896 was inserted.
8689 was inserted.
8239 was inserted.
7863 was inserted.
7521 was inserted.
7228 was inserted.
6832 was inserted.
6406 was inserted.
6012 was inserted.
5680 was inserted.
5377 was inserted.
5137 was inserted.
4868 was inserted.
4572 was inserted.
4412 was inserted.
4256 was inserted.
4146 was inserted.
3986 was inserted.
3799 was inserted.
3626 was inserted.
3507 was inserted.
3350 was inserted.
3270 was inserted.
3182 was inserted.
3098 was inserted.
3047 was inserted.
2981 was inserted.
2923 was inserted.
2877 was inserted.
2859 was inserted.
2859 was inserted.
2864 was inserted.
2869 was inserted.
2858 was inserted.
2881 was inserted.
2818 was inserted.
24
25
355 was inserted.
505 was inserted.
1346 was inserted.
2737 was inserted.
4244 was inserted.
5312 was inserted.
6159 was inserted.
6671 was inserted.
6884 was inserted.
6918 was inserted.
6840 was inserted.
6640 was inserted.
6451 was inserted.
6165 was inserted.
5822 was inserted.
5496 was inserted.
5244 was inserted.
4992 was inserted.
4794 was inserted.
4586 was inserted.
4427 was inserted.
4300 was inserted.
4150 was inserted.
3953 was inserted.
3791 was inserted.
3637 was inserted.
3456 was inserted.
3354 was inserted.
3256 was inserted.
3173 was inserted.
3078 was inserted.
2995 was inserted.
2879 was inserted.
2801 was inserted.
2735 was inserted.
2716 was inserted.
2657 was inserted.
2590 was inserted.
2549 was inserted.
2519 was inserted.
2474 was inserted.
2433 was inserted.
2422 was inserted.
2423 was inserted.
2442 was inserted.
2464 was inserted.
2483 was inserted.
2422 was inserted.
25
26
307 was inserted.
1193 was inserted.
2480 was inserted.
3760 was inserted.
4711 was inserted.
5345 was inserted.
5886 was inserted.
6159 was inserted.
6111 was inserted.
5981 was inserted.
5739 was inserted.
5511 was inserted.
5191 was inserted.
5032 was inserted.
4733 was inserted.
4464 was inserted.
4184 was inserted.
3963 was inserted.
3811 was inserted.
3642 was inserted.
3464 was inserted.
3216 was inserted.
3033 was inserted.
2781 was inserted.
2607 was inserted.
2468 was inserted.
2350 was inserted.
2263 was inserted.
2200 was inserted.
2126 was inserted.
2027 was inserted.
1925 was inserted.
1827 was inserted.
1711 was inserted.
1635 was inserted.
1578 was inserted.
1497 was inserted.
1464 was inserted.
1449 was inserted.
1425 was inserted.
1383 was inserted.
1301 was inserted.
1285 was inserted.
1252 was inserted.
1270 was inserted.
1217 was inserted.
26
27
342 was inserted.
1155 was inserted.
2258 was inserted.
3147 was inserted.
3804 was inserted.
4246 was inserted.
4473 was inserted.
4549 was inserted.
4412 was inserted.
4231 was inserted.
4046 was inserted.
3802 was inserted.
3620 was inserted.
3413 was inserted.
3204 was inserted.
3033 was inserted.
2849 was inserted.
2657 was inserted.
2518 was inserted.
2370 was inserted.
2187 was inserted.
2050 was inserted.
1923 was inserted.
1843 was inserted.
1746 was inserted.
1671 was inserted.
1555 was inserted.
1402 was inserted.
1273 was inserted.
1197 was inserted.
1104 was inserted.
1034 was inserted.
964 was inserted.
921 was inserted.
880 was inserted.
851 was inserted.
805 was inserted.
765 was inserted.
755 was inserted.
725 was inserted.
688 was inserted.
678 was inserted.
669 was inserted.
654 was inserted.
664 was inserted.
629 was inserted.
27
28
207 was inserted.
297 was inserted.
798 was inserted.
1588 was inserted.
2370 was inserted.
2931 was inserted.
3182 was inserted.
3273 was inserted.
3269 was inserted.
3258 was inserted.
3177 was inserted.
3100 was inserted.
2985 was inserted.
2839 was inserted.
2690 was inserted.
2548 was inserted.
2368 was inserted.
2219 was inserted.
2079 was inserted.
1991 was inserted.
1854 was inserted.
1746 was inserted.
1682 was inserted.
1620 was inserted.
1547 was inserted.
1465 was inserted.
1432 was inserted.
1358 was inserted.
1290 was inserted.
1242 was inserted.
1208 was inserted.
1186 was inserted.
1153 was inserted.
1120 was inserted.
1098 was inserted.
1059 was inserted.
1025 was inserted.
1002 was inserted.
988 was inserted.
972 was inserted.
965 was inserted.
960 was inserted.
952 was inserted.
968 was inserted.
968 was inserted.
992 was inserted.
967 was inserted.
28
29
794 was inserted.
2845 was inserted.
5714 was inserted.
8690 was inserted.
11228 was inserted.
12848 was inserted.
13770 was inserted.
14352 was inserted.
14475 was inserted.
14024 was inserted.
13641 was inserted.
13005 was inserted.
12403 was inserted.
11746 was inserted.
11195 was inserted.
10612 was inserted.
9961 was inserted.
9392 was inserted.
8893 was inserted.
8522 was inserted.
8179 was inserted.
7824 was inserted.
7366 was inserted.
6958 was inserted.
6631 was inserted.
6229 was inserted.
5939 was inserted.
5799 was inserted.
5612 was inserted.
5408 was inserted.
5232 was inserted.
5003 was inserted.
4833 was inserted.
4664 was inserted.

4538 was inserted.
4369 was inserted.
4324 was inserted.
4283 was inserted.
4194 was inserted.
4063 was inserted.
3949 was inserted.
3915 was inserted.
3893 was inserted.
3823 was inserted.
3840 was inserted.
3705 was inserted.
29
30
76 was inserted.
911 was inserted.
3281 was inserted.
6812 was inserted.
10399 was inserted.
13482 was inserted.
15494 was inserted.
16905 was inserted.
17782 was inserted.
18024 was inserted.
17651 was inserted.
17303 was inserted.
16753 was inserted.
16075 was inserted.
15591 was inserted.
14865 was inserted.
14211 was inserted.
13573 was inserted.
12967 was inserted.
12460 was inserted.
11897 was inserted.
11405 was inserted.
10949 was inserted.
10470 was inserted.
10026 was inserted.
9656 was inserted.
9350 was inserted.
9100 was inserted.
8770 was inserted.
8501 was inserted.
8299 was inserted.
8136 was inserted.
8074 was inserted.
7973 was inserted.
7897 was inserted.
7910 was inserted.
8043 was inserted.
8102 was inserted.
8221 was inserted.
7993 was inserted.
30
31
992 was inserted.
3879 was inserted.
8549 was inserted.
12790 was inserted.
16186 was inserted.
18302 was inserted.
19454 was inserted.
19632 was inserted.
19538 was inserted.
18958 was inserted.
18233 was inserted.
17494 was inserted.
16934 was inserted.
16042 was inserted.
15036 was inserted.
13616 was inserted.
12793 was inserted.
11949 was inserted.
11204 was inserted.
10586 was inserted.
10043 was inserted.
9580 was inserted.
9183 was inserted.
8757 was inserted.
8273 was inserted.
7909 was inserted.
7655 was inserted.
7439 was inserted.
7018 was inserted.
6651 was inserted.
6403 was inserted.
6190 was inserted.
6063 was inserted.
5933 was inserted.
5809 was inserted.
5336 was inserted.
31
32
962 was inserted.
4219 was inserted.
9409 was inserted.
14726 was inserted.
18749 was inserted.
21594 was inserted.
23214 was inserted.
23974 was inserted.
23987 was inserted.
23624 was inserted.
22951 was inserted.
22190 was inserted.
21223 was inserted.
20136 was inserted.
19069 was inserted.
18072 was inserted.
17244 was inserted.
16408 was inserted.
15656 was inserted.
14986 was inserted.
14284 was inserted.
13491 was inserted.
12933 was inserted.
12512 was inserted.
12107 was inserted.
11658 was inserted.
11302 was inserted.
10886 was inserted.
10471 was inserted.
10156 was inserted.
9990 was inserted.
9491 was inserted.
32
33
84 was inserted.
1276 was inserted.
4927 was inserted.
10044 was inserted.
14689 was inserted.
18344 was inserted.
20242 was inserted.
20889 was inserted.
20839 was inserted.
20503 was inserted.
19668 was inserted.
18844 was inserted.
17842 was inserted.
16936 was inserted.
15970 was inserted.
15151 was inserted.
14283 was inserted.
13395 was inserted.
12625 was inserted.
11723 was inserted.
11000 was inserted.
10439 was inserted.
9803 was inserted.
9290 was inserted.
8697 was inserted.
8224 was inserted.
7777 was inserted.
7242 was inserted.
6927 was inserted.
6738 was inserted.
6375 was inserted.
5892 was inserted.
5489 was inserted.
5174 was inserted.
4872 was inserted.
4650 was inserted.
4293 was inserted.
33
34
790 was inserted.
3656 was inserted.
8432 was inserted.
13862 was inserted.
18513 was inserted.
21761 was inserted.
23643 was inserted.
24758 was inserted.
25012 was inserted.
24838 was inserted.
24199 was inserted.
23500 was inserted.
22668 was inserted.
21953 was inserted.
21005 was inserted.
19629 was inserted.
18587 was inserted.
17696 was inserted.
16858 was inserted.
16385 was inserted.
15753 was inserted.
14913 was inserted.
14221 was inserted.
13624 was inserted.
13001 was inserted.
12424 was inserted.
12142 was inserted.
11866 was inserted.
11632 was inserted.
11561 was inserted.
10795 was inserted.
34
35
89 was inserted.
1293 was inserted.
4860 was inserted.
10284 was inserted.
15737 was inserted.
20458 was inserted.
23830 was inserted.
26128 was inserted.
27264 was inserted.
27573 was inserted.
27356 was inserted.
26839 was inserted.
26180 was inserted.
25473 was inserted.
24464 was inserted.
23517 was inserted.
22473 was inserted.
21462 was inserted.
20638 was inserted.
19961 was inserted.
19590 was inserted.
19184 was inserted.
19058 was inserted.
17896 was inserted.
35